<div style="margin-top:40px;">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input
            placeholder="Nome"
            id="first_name"
            type="text"
            class="validate"
          />
          <label for="first_name">Nome Completo</label>
        </div>
        <div class="input-field col s6">
          <input
            id="last_name"
            type="text"
            class="validate"
            placeholder="Nome Artistico"
          />
          <label for="last_name">Nome Artistico</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input
            placeholder="Conte-nos um pouco sobre você..."
            id="sobrevoce"
            type="text"
            class="validate"
          />
          <label for="sobrevoce">Sobre você:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" />
          <label for="password">Senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="intro-text">
        <p>Você se indentifica com quais das categorias abaixo?</p>
        <form action="#">
          <input class="filled-in" type="checkbox" id="musico" />
          <label for="musico" style="margin-left:5px">Musico(a)</label>
          <input class="filled-in" type="checkbox" id="investidor" />
          <label for="investidor" style="margin-left:5px">Investidor(a)</label>
          <input type="checkbox" class="filled-in" id="outros" />
          <label for="outros" style="margin-left:5px">Outros(as)</label>
        </form>
      </div>

      <div style="margin-top: 20px">
        <a class="waves-effect waves-light btn-large">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
