<img src="./../../assets/banner.png" width="100%">

<div class="row">
  <div class="card-panel white">
    <span class="black-text" style="text-align: center !important">
      <div style="text-align: center !important">
        <img style="text-align: center !important" src="./../../assets/banda.png">
      </div>
      <h4>Vire patrocinador da Soft Butch!</h4>
    </span>
  </div>
</div>

<div class="row">
  <div class="col s12 m4">
      <div class="card-panel white" style="min-height: 570px">
          <span class="black-text" style="text-align: center !important">
            <div style="text-align: center !important">
              <h3>R$ 20</h3>
              <br>
              <br>
              <h3>Pillow Princess</h3>
            </div>
            <div style="text-align: center">
                <h5>Tenha seu nome nos agradecimentos da banda no YouTube!</h5>
                <br>
                <h5>Acesso no Discord geral da banda, podendo dar feedbacks, conversar com Manu e Jo e ganhar um selo oficial da banda!</h5>
                <a class="btn-large waves-effect waves-light orange" style="color: withe; background-color:#c97494 !important;margin-top:30px !important">Selecionar</a>
            </div>
          </span>
        </div>
  </div>
  <div class="col s12 m4">
      <div class="card-panel white" style="min-height: 570px">
          <span class="black-text" style="text-align: center !important">
            <div style="text-align: center !important">
              <h3>R$ 80</h3>
              <br>
              <br>
              <h3>Baby Dyke</h3>
            </div>
            <div style="text-align: center">
                <h5>Tenha seu nome nos agradecimentos da banda no youtube! Desconto de 20% na loja. Acesso no Discord geral da banda, podendo dar feedbacks, conversar com Manu e Jo e ganhar um selo de fa oficial!</h5>
                <a class="btn-large waves-effect waves-light orange" style="color: withe; background-color:#c97494 !important;margin-top:30px !important">Selecionar</a>
            </div>
          </span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel white" style="min-height: 570px">
            <span class="black-text" style="text-align: center !important">
              <div style="text-align: center !important">
                <h3>R$ 200</h3>
                <br>
                <br>
                <h3>High Femme</h3>
              </div>
              <div style="text-align: center">
                  <h5>Todos os premios anteriores + acesso ao Discord exclusivo, Lives de ensaios, videos exclusivos de criacao e foto assinada pela banda!</h5>
                  <a class="btn-large waves-effect waves-light orange" style="color: withe; background-color:#c97494 !important;margin-top:30px !important">Selecionar</a>
              </div>
            </span>
          </div>
      </div>
</div>