<body>
  <nav
    class="ffffff white"
    role="navigation"
    style="background-color:rgb(211, 210, 210) !important"
  >
    <div class="nav-wrapper container">
      <img
        routerLink="/home"
        src="../assets/MEZZO_logo.png"
        style="width:150px; margin-top: 20px"
      />
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="menu" style="color:black" routerLink="/home">Home</a>
        </li>
        <li>
          <a class="menu" style="color:black" routerLink="/explorar"
            >Explorar</a
          >
        </li>
        <!-- <li>
          <a class="menu" style="color: white" routerLink="/about">About</a>
        </li> -->
        <li>
          <a class="menu" style="color:black" routerLink="/cadastro"
            >Cadastre-se</a
          >
        </li>
        <li>
          <a class="menu" style="color:black" routerLink="/login">Entrar</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer
  class="page-footer orange"
  style="background-color:rgb(211, 210, 210)  !important;"
>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">Mezzo Company</h5>
        <p class="black-text text-lighten-4">Nós trabalhamos para você!</p>
      </div>
      <div class="col l6 s12">
        <h5 class="black-text">Settings</h5>
        <ul>
          <li><a class="black-text" href="#!">Nosso FB</a></li>
          <li><a class="black-text" href="#!">Nosso YT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
      <div class="container">
     <p  class="black-text"> © 2019 Copyright Mezzo</p>
      </div>
    </div>
</footer>
</body>

