<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h2 class="header center orange-text" style="color:white !important">Todo mundo comeca em algum lugar lugar. E esse lugar e aqui.</h2>
    <div class="row center">
      <h5 class="header col s12 light">Interconectar e financiar profissionais mulheres de toda a rede de producao musical, desde a composicao ate a producao final da musica em um ambiente seguro.</h5>
    </div>
    <div class="row center">
      <a routerLink="/cadastro" id="download-button"
        class="btn-large waves-effect waves-light orange" style="color: withe; background-color:#c97494 !important">Cadastra-se</a>
    </div>
    <br><br>

  </div>
</div>

<div class="container">
  <div class="section">
      <div>
          <h5><b>Como funciona?</b></h5>
      </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img src="../../assets/figura1.png">
          <h5 class="center"><b>Mentoria e Capacitacao</b></h5>

          <p class="light"><b>Se aperfeicoe na sua area e cresca com outras mulheres.</b></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
            <img src="../../assets/figura2.png">
          <h5 class="center"><b>Afinar e Avancar</b></h5>

          <p class="light"><b>Formado o time, e hora de correr atras e fazer acontecer!</b></p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
            <img src="../../assets/figura3.png">
          <h5 class="center"><b>Afinar e Avancar</b></h5>

          <p class="light"><b>Os melhores squads entram em turne ganhando divulgacao, plataforma com fans e claro, uma grana!</b></p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>