<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br /><br />
    <h2 class="header center orange-text" style="color:black !important">
      Todo mundo começa em algum lugar. E esse lugar é aqui.
    </h2>
    <div class="row center">
      <h5 class="header col s12 light">
        Interconectar e financiar profissionais mulheres de toda cadeia de
        produção musical, desde a composição até a produção final da música em
        um ambiente seguro.
      </h5>
    </div>
    <div class="row center">
      <a
        routerLink="/cadastro"
        id="download-button"
        class="btn-large waves-effect waves-light orange"
        style="color: withe; background-color:#c97494 !important"
        >Cadastre-se</a
      >
    </div>
    <br /><br />
  </div>
</div>

<div class="container">
  <div class="section">
    <div>
      <h5><b>Como funciona?</b></h5>
    </div>
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img src="../../assets/figura1.png" />
          <h5 class="center"><b>Mentoria e Capacitação</b></h5>

          <p class="light">
            <b
              >Se aperfeiçoe na sua área e cresça com outros profissionais com o
              objetivo em comum com o seu.</b
            >
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <img src="../../assets/figura2.png" />
          <h5 class="center"><b>Afinar e Avançar</b></h5>

          <p class="light">
            <b>Formado o time, é hora de correr atrás e fazer acontecer!</b>
          </p>
        </div>
      </div>
      <br />
      <div class="col s12 m4">
        <div class="icon-block">
          <img src="../../assets/figura3.png" />
          <h5 class="center"><b>Time formado!!</b></h5>

          <p class="light">
            <b
              >Os melhores squads entram em turnê ganhando divulgação,
              plataforma com fãs e claro, uma grana!</b
            >
          </p>
        </div>
      </div>
    </div>

    <div>
      <h5><b>Como funciona?</b></h5>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card white darken-1">
          <div class="card-content black-text">
            <span class="card-title">Fabricio Moreira</span>
            <img
              class="circle responsive-img"
              src="https://materializecss.com/images/yuna.jpg"
            />
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae reprehenderit qui in.
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card white darken-1">
          <div class="card-content black-text">
            <span class="card-title">Alessandro</span>
            <img
              class="circle responsive-img"
              src="https://materializecss.com/images/yuna.jpg"
            />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et sunt in culpa qui officia
              deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card white darken-1">
          <div class="card-content black-text">
            <span class="card-title">Fernanda</span>
            <img
              class="circle responsive-img"
              src="https://materializecss.com/images/yuna.jpg"
            />
            <p>
              Sed ut eaque ipsa quae unde omnis iste natus error sit voluptatem
              accusantium ab illo inventore veritatis unde omnis iste natus
              error sit voluptatem quaerat voluptatem.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col s12 m2"></div>
        <div class="col s12 m8" style="position: center !important">
          <div class="card-panel white">
            <span class="black-text" style="text-align: center !important">
              <h4>Participe agora!</h4>
              <div style="text-align: center !important">
                <a
                  routerLink="/cadastro"
                  id="download-button"
                  class="btn-large waves-effect waves-light orange"
                  style="color: withe; background-color:#c97494 !important;margin-top:30px !important"
                  >Quero Investir!</a
                >
              </div>
            </span>
          </div>
        </div>
        <div class="col s12 m2"></div>
      </div>
    </div>
    <br /><br />
  </div>
</div>
